@import "tailwindcss";

:root {
  --text-colour : #172B36;
  --background: #D9E8E2;
  --main-colour: #FF9932;
  --white-colour: #F1F6F4;
  --hover-colour: #C9CBD2;
  --shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.dark {
  --text-colour : #F5F7FF;
  --background: #06070A;
  --main-colour: #FF821E;
  --white-colour: #2E3132;
  --hover-colour: #1e2939;
  --shadow: 1px 1px 2px #FF821E;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
